# ignore git stuff
.git
.gitignore
.gitattributes

# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info
.dist/

# venvs
.venv/
venv/

# bytecode / cache
.mypy_cache/
.pytest_cache/
.ruff_cache/

# notebooks output
.ipynb_checkpoints/

# docker
docker-compose*.yml
docker/

# but KEEP these
!README.md
!pyproject.toml
!poetry.lock
!src/**
!tests/**
!data/**
!notebooks/**
