# Ignore local and dev files not needed in image
.git
.gitignore
__pycache__/
*.py[cod]
*.log
*.lock
*.env
*.venv/
data/
notebooks/
reports/
tests/
docker/
scripts/
dist/
build/
*.md
.idea/
.vscode/
.DS_Store
